{% extends 'app_top_pc/base.html' %}
{% load static %} {# Pode ser removido se base.html já tem #}

{% block title %}Adicionar Dado{% endblock title %}

{% block content %}
<div class="container form-page-container"> <h1>Adicionar Dado</h1>

    <form method="post" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small class="help-text">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="errorlist">
                       <li>{{ error }}</li> {# Envolvido em <li> para melhor semântica e para que o estilo do css pegue #}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        
        <button type="submit" class="btn-submit">Salvar</button>
    </form>

    <a href="{% url 'app_top_pc:home' %}" class="back-link">Voltar para a Página Inicial</a>
</div>
{% endblock content %}